html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ndorg {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ndorg-editor {
    width : 70%;
    min-height: 200px;
    padding: 10px;
}

.ndorg-preview {
    width : 30%;
    background: #eee;
    min-height: 200px;
    padding: 10px;
}

.ndorg-suggest {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 250px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #999;
    color: #eee;
}

.ndorg-hint {
    color: #ccc;
}

.combo {
    margin-bottom: 5px;
}

.key {
    display: inline-block;
    border: 1px solid black;
    padding: 3px 6px;
    background-color: #eee;
    border-radius: 3px;
    color: #000;
}

.def {
    display: inline-block;
    margin-left: 5px;
}